/* Ember supports plain CSS out of the box.
 * More info: https://cli.emberjs.com/release/advanced-use/stylesheets/
 */
body {
  font-family: sans-serif;
  padding: 1rem;
}

p {
  margin: 0;
}

/* Dealfront styles (prefixed `df-`) */
.df-input,
.df-button {
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
}

.df-input:read-only {
  background-color: lightsteelblue;
}

.df-table {
  border-collapse: collapse;

  .df-cell {
    padding: 0.25rem 0.5rem;
    text-align: left;

    &.header {
      background-color: gainsboro;
    }
  }
}

/* end of - Dealfront styles (prefixed `df-`) */

/* `github-form` component */
.github-form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 1rem;
  width: 80%;
  max-width: 880px;
  margin: 1rem auto 2rem;

  & .form-row {
    display: flex;
    flex-direction: column;

    &:nth-child(3) {
      align-self: end;
    }

    & .df-label {
      margin-bottom: 0.25rem;
    }

    & .df-input,
    & .df-button {
      width: 100%;
      margin-top: auto;
    }
  }
}

/* end of `github-form` component */

/* `repos` component */
.list-placeholder {
  text-align: center;
}

.org-name {
  text-align: center;
  color: darkmagenta;
}

.repositories-table {
  width: 100%;
  margin: 0 auto;

  .repo-row {
    border-top: 1px dotted darkgray;

    &:hover {
      cursor: pointer;
      background-color: #e0e0e0;
    }

    .df-cell {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 50%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 15%;
      }
    }
  }

  & .branch-row {
    background-color: whitesmoke;

    & .branch-paragraph {
      max-height: 5rem;
      overflow: scroll;
      opacity: 1;
    }

    &.hidden {
      & .df-cell {
        animation: remove-padding 0s 0.4s forwards;
      }

      & .branch-paragraph {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition:
          max-height 0.5s ease-in-out,
          opacity 0.5s ease-in-out;
      }
    }
  }
}

@keyframes remove-padding {
  to {
    padding: 0;
  }
}

/* end of - `repos` component */

/* `filter` component */
.filter-row {
  margin: 0.33rem 0;
}

.filter-pill {
  display: inline-block;
  margin: 0.2rem 0.2rem 0 0;
  padding: 0.1rem 0.5rem;
  background-color: lightskyblue;
  border: 2px solid darkcyan;
  border-radius: 2rem;
  color: darkslategray;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: darkcyan;
    color: white;
  }
}

/* end of - `filter` component */

/* Mobile support */
@media (width <= 767px) {
  .github-form {
    display: grid;
    grid-template-columns: 1fr;
    width: 98%;
    margin-top: 0;
  }

  .repositories-table {
    & .df-head {
      display: none;
    }

    & .df-row {
      position: relative;

      & .df-cell:not(.header, [colspan="4"]) {
        display: block;
        width: 72%;
        padding-left: 28%;
        word-break: break-all;

        &::before {
          content: attr(data-label);
          position: absolute;
          left: 0;
          font-weight: 600;
        }
      }
    }
  }
}

/* end of - Mobile support */
